<!DOCTYPE html>
<html>
<head>
<title>PaaS Project Create Wizard</title>
<h1>Welcome to the PaaS project create Wizard</h1>
<p1>Please fill in the page below to submit a users project for creation:</p1>
<br>

<form action="/create-project.php">
  <label for="fname">Project Name:</label><br>
  <input type="text" id="project" name="project" value=""><br><br>
  <label for="lname">Project Description:</label><br>
  <input type="text" id="project-description" name="project-description" value=""><br><br>
  <label for="fname">Project Admin:</label><br>
  <input type="text" id="project-admin" name="project-admin" value=""><br><br>
  <label for="lname">Project Budget Code:</label><br>
  <input type="text" id="project-budget-code" name="project-budget-code value=""><br><br>
  <input type="submit" value="Submit">
  <label for="fname">Project Task Code:</label><br>
  <input type="text" id="project-task-code" name="project-task-code" value=""><br><br>
  <label for="lname">Project cost code:</label><br>
  <input type="text" id="project-cost-code" name="project-cost-code" value=""><br><br>
  <label for="fname">Project budget holder:</label><br>
  <input type="text" id="project-budget-holder" name="project-budget-holder" value=""><br><br>
  <label for="lname">Project Jira Service Desk Number:</label><br>
  <input type="text" id="project-jsdn" name="project-jsdn" value=""><br><br>
  <label for="lname">Project Organisation:</label><br>
  <input type="text" id="project-org" name="project-org" value=""><br><br>
  <input type="submit" value="Submit">
</form> 


</html>
