<!DOCTYPE html>
<html>
<head>
<title>PaaS Project Create Wizard</title>
<h1>Welcome to the PaaS project create Wizard</h1>
<p1>Please fill in the page below to submit a users project for creation:</p1>
<br>

<form action="/create-project.php">
  <label for="fname">Project Name:</label><br>
  <input type="text" id="project" name="project" value=""><br><br>
  <label for="lname">Project Description:</label><br>
  <input type="text" id="project-description" name="project-description" value=""><br><br>
  <input type="submit" value="Submit">
</form> 


</html>
